{
  "presets": ["react-native"],
  "sourceMaps": "inline",
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        "transform-decorators-legacy"
      ]
    }
  }
}
