<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>843403651366-o9ob9mpn63s86atnabqti545q13pk3v6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843403651366-o9ob9mpn63s86atnabqti545q13pk3v6</string>
	<key>API_KEY</key>
	<string>AIzaSyDzK7M9sCQobLco5yxlSodE1ia8eiqpi1k</string>
	<key>GCM_SENDER_ID</key>
	<string>843403651366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.as</string>
	<key>PROJECT_ID</key>
	<string>qwer1234-31d3a</string>
	<key>STORAGE_BUCKET</key>
	<string>qwer1234-31d3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843403651366:ios:a0f22154942386a7</string>
	<key>DATABASE_URL</key>
	<string>https://qwer1234-31d3a.firebaseio.com</string>
</dict>
</plist>